<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Pokemon GO Map</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    function initMap() {
        var config = {{ jsConfig | raw }},
            map = new google.maps.Map(document.getElementById('map'), {
                minZoom: 15,
                zoom: config.zoom,
                center: config.location
            });

        var sizeMin = 40,
            sizeMax = 120,
            wSize = window.innerWidth > window.innerHeight ? window.innerHeight : window.innerWidth,
            size = wSize / 10;

        if (size < sizeMin) {
            size = sizeMin;
        } else if (size > sizeMax) {
            size = sizeMax;
        }

        var sizeCurrPos = size / 2;
        new google.maps.Marker({
            position: config.location,
            map: map,
            icon: {
                url: '/img/pokeball.png',
                scaledSize: new google.maps.Size(sizeCurrPos, sizeCurrPos),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(sizeCurrPos / 2, sizeCurrPos / 2)
            }
        });

        for (var i = 0; i < config.pokemon.length; i++) {
            var mLoc = config.pokemon[i].location,
                url = 'http://maps.google.com/?ll=' + mLoc.lat + ',' + mLoc.lng,
                pokemon = config.pokemon[i].pokedex,
                marker = new google.maps.Marker({
                    url: url,
                    position: mLoc,
                    map: map,
                    icon: {
                        url: pokemon.img,
                        scaledSize: new google.maps.Size(size, size),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(size / 2, size)
                    },
                    infoWindow: new google.maps.InfoWindow({
                        content: '<div id="content"><p>'
                        + '<strong>' + pokemon.name + '</strong> Nr. ' + pokemon.num + '<br><br>'
                        + pokemon.type + '<br><br>'
                        + '<a href="' + url + '" target="_blank">Google Maps</a>'
                        + '</p></div>'
                    })
                });

            google.maps.event.addListener(marker, 'click', function () {
                var cMarker = this;
                cMarker.infoWindow.open(map, cMarker);
            });
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&signed_in=true&callback=initMap"></script>
</body>
</html>
